/.idea/*
!/.idea/dictionaries
/.idea/dictionaries/*
!/.idea/dictionaries/default_user.xml
!/.idea/inspectionProfiles
/.idea/inspectionProfiles/*
!/.idea/inspectionProfiles/Project_Default.xml
!/.idea/*.iml
!/.idea/modules.xml
!/.idea/php.xml

/.phpdoc
/build
/var
/vendor

/compose.override.yaml
/composer.lock

.DS_Store
.git
Thumbs.db
